<div class="navbar navbar-md no-radius">

    <img src="assets/img/logo-white.png" alt="." class="" style="height: 54px; width: 54px; margin: auto;">

</div>
<div flex class="hide-scroll">
    <nav class="scroll nav-active-primary"style="margin-top:10px;margin-bottom:20px;">

        <ul class="nav" ui-nav>
            <li style=margin-bottom:20px;>
                <a href="#!/">
                    <span class="nav-icon">
                        <i class="fa fa-tachometer fa-2x"></i>
                    </span>
                    <span class="nav-text" style="font-size: 20px">&nbsp;&nbsp;&nbsp;Dashboard</span>
                </a>
                    <li style=margin-bottom:20px;>
                        <a href="#!/subsystems/motors">
                            <span class="nav-icon">
                                <i class="fa fa-cogs fa-2x"></i>
                            </span>
                            <span class="nav-text"style="font-size: 20px">&nbsp;&nbsp;&nbsp;Motors</span>
                        </a>
                    </li> 
                    <li style=margin-bottom:20px;>
                        <a href="#!/subsystems/brakesH4">
                            <span class="nav-icon">
                                <i class="fa fa-compress fa-2x"></i>
                            </span>
                            <span class="nav-text"style="font-size: 20px">&nbsp;&nbsp;&nbsp;&nbsp;Brakes</span>
                        </a>
                    </li>
            <!--H4 BMS -->
            <li style=margin-bottom:20px;>
                <a href="#!/bmsH4">
                    <span class="nav-icon">
                        <i class="fa fa-bolt fa-2x"></i>
                    </span>
                    <span class="nav-text"style="font-size: 20px">&nbsp;&nbsp;&nbsp;&nbsp;BMS HV</span>
                </a>
            </li>
            <!--H4 BMS Avionics -->
            <li style=margin-bottom:20px;>
                <a href="#!/bmsAvionics">
                    <span class="nav-icon">
                        <i class="fa fa-battery-three-quarters fa-2x"></i>
                    </span>
                    <span class="nav-text"style="font-size: 20px">&nbsp;&nbsp;BMS LV</span>
                </a>
            </li>
             <!--SensorData -->
             <li style=margin-bottom:20px;>
                <a href="#!/sensorData">
                    <span class="nav-icon">
                        <i class="fa fa-database fa-2x"></i>
                    </span>
                    <span class="nav-text"style="font-size: 20px">&nbsp;&nbsp;&nbsp;&nbsp;Data</span>
                </a>
            </li>
           <!-- <li ng-click="openModal()">
                <a>
                    <span class="nav-icon">
                        <i class="fa fa-warning fa-lg"></i>
                    </span>
                    <span class="nav-text">Toggle Warning Modal</span>
                </a>
            </li>-->
        </ul>
    </nav>
</div>