<div class="row no-gutter box dark bg">
    <div class="col-sm-12">
        <div class="box-header">
            <h3>Position Parameters</h3>
            <small></small>
        </div>
        <div class="box-body padding-none">
            <table class="table" style="font-size: 1.5em;">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Value</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Stripe Count</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>Count 1</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>Count 2</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>Count 3</td>
                        <td>0</td>
                    </tr>
                    <tr>
                        <td>Count 4</td>
                        <td>0</td>
                    </tr>

                </tbody>
            </table>

        </div>
    </div>
</div>