/*
  https://developer.mozilla.org/en/docs/Web/CSS/box-shadow
  box-shadow: [inset?] [top] [left] [blur] [size] [color];

  Tips:
    - We're setting all the blurs to 0 since we want a solid fill.
    - Add the inset keyword so the box-shadow is on the inside of the element
    - Animating the inset shadow on hover looks like the element is filling in from whatever side you specify ([top] and [left] accept negative values to become [bottom] and [right])
    - Multiple shadows can be stacked
    - If you're animating multiple shadows, be sure to keep the same number of shadows so the animation is smooth. Otherwise, you'll get something choppy.
*/
.fill:hover,
.fill:focus {
  -webkit-box-shadow: inset 0 0 0 20em var(--hover);
   box-shadow: inset 0 0 0 10em var(--hover);
}

.red-fill {
    --color: #ff6a6c;
    --hover: #ff3131; 
}

.green-fill {
    --color: #8fc866;
    --hover: #47c571;
}

.blue-fill {
    --color: #199ebc;
    --hover: #1973bc;
}

.yellow-fill {
    --color: #d2da47;
    --hover: #ccc500;
}
.gray-fill {
  --color: #666666;
  --hover: #333333;
}

button:hover, button:focus {
  border-color: var(--hover);
  color: #fff;
}

button {
  color: var(--color);
  -webkit-transition: 0.25s;
  transition: 0.25s;
  background: none;
  border: 2px solid;
  font: inherit;
  line-height: 1;
  margin: 0.5em;
  padding: 1em 2em;
}